<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <br />
    <mat-nav-list>
      <a [routerLink]="['/home']" mat-list-item (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">home</mat-icon
        ><span>Pagina principal</span></a
      >
      <a [routerLink]="['/home']" mat-list-item (click)="perfil()"
        ><mat-icon mat-list-icon style="color: gray">person</mat-icon
        ><span>Mi perfil</span></a
      >
      <a
        [routerLink]="['/beneficiarios/lista']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">group</mat-icon
        ><span>Mis Beneficiarios</span></a
      >

      <a
        [routerLink]="['/beneficiarios/tarjeta']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">badge</mat-icon
        ><span>Mi Tarjeta</span></a
      >

      <a
        [routerLink]="['/app/soporte']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">settings</mat-icon
        ><span>soporte</span></a
      >
      <a
        [routerLink]="['/app/contacto']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">support_agent</mat-icon
        ><span>contacto</span></a
      >

      <a
        [routerLink]="['/medicos/servicios']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">local_hospital</mat-icon
        ><span>Servicios Medicos</span></a
      >

      <a
        *ngIf="rol !== 4"
        [routerLink]="['/medicos/solicitud']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">question_answer</mat-icon
        ><span>ser medico</span></a
      >
      <a
        *ngIf="rol == 4"
        [routerLink]="['/medicos/estudio']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">health_and_safety</mat-icon
        ><span>Agregar Especializacion</span></a
      >
      <a
        *ngIf="rol == 4"
        [routerLink]="['/medicos/agenda']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">pending_actions</mat-icon
        ><span>agendar disponibilidad</span></a
      >
      <a
        *ngIf="rol == 1"
        [routerLink]="['/admin/solicitudes']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray"
          >admin_panel_settings</mat-icon
        ><span>solicitudes</span></a
      >
      <a
        *ngIf="rol == 1"
        [routerLink]="['/admin/solicitudEstudio']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray"
          >admin_panel_settings</mat-icon
        ><span>solicitudes especializacion</span></a
      >
      <a
        *ngIf="rol == 4"
        [routerLink]="['/medicos/agendaMedico']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">edit_calendar</mat-icon
        ><span>Mi Agenda</span></a
      >
      <a
        [routerLink]="['/medicos/agendaUsuario']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">schedule</mat-icon
        ><span>Citas Pendientes</span></a
      >
      <a
        [routerLink]="['/medicos/historial']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">schedule</mat-icon
        ><span>Historial de citas</span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <p>Historial de citas</p>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="notificaciones"
    >
      <mat-icon>notifications</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      (click)="logout()"
      aria-label="cerrar sesion"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.fecha | date }}</td>
    </ng-container>
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let element">
        {{ element.hora }}
      </td>
    </ng-container>
    <ng-container matColumnDef="especialidad">
      <th mat-header-cell *matHeaderCellDef>Especialidad</th>
      <td mat-cell *matCellDef="let element">
        {{ element.especialidad }}
      </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombres medico</th>
      <td mat-cell *matCellDef="let element">
        {{ element.nombres }}
      </td>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef>Apellidos medico</th>
      <td mat-cell *matCellDef="let element">
        {{ element.apellidos }}
      </td>
    </ng-container>

    <ng-container matColumnDef="asistio">
      <th mat-header-cell *matHeaderCellDef>asistio</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          [checked]="element.asistio == 1"
          [disabled]="element.asistio == 1"
          (change)="setAll($event.checked, element.id)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="calificacion">
      <th mat-header-cell *matHeaderCellDef>calificacion</th>
      <td mat-cell *matCellDef="let element">
        <select
          [disabled]="element.asistio == 0"
          (change)="calificar($any($event.target).value, element.id)"
        >
          <option value="" disabled selected>{{ element.calificacion }}</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-sidenav-container>
