* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.mat-elevation-z8 {
  overflow-x: auto;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #4d840c;
  color: #fff;
}

.mat-toolbar {
  background: #4d840c;
  color: #fff;
}

.mat-check {
  overflow: hidden;
}

table {
  width: 100%;
}
