@font-face {
  font-family: "Cocogoose";
  src: url(../../../../assets/fonts/Cocogoose-Pro-Ultralight-trial.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: green;
  color: #fff;
}

.mat-toolbar {
  background: green;
  color: #fff;
}

.logout {
  margin-right: 70px !important;
}

.contact_container {
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.contact_2 {
  display: flex;
  flex-flow: column wrap;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 20px 5px silver;
}

.form_input {
  margin-left: 50px !important;
}

.mat-success {
  background-color: green;
  color: #fff;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  /* contenedor principal */
  .contact_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.8)
      ),
      url("../../../../assets/images/background-2.PNG");
    background-size: cover;
    background-position: center;
  }

  .contact_2 {
    display: flex;
    flex-flow: column wrap;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    width: 82%;
    overflow: hidden;
    box-shadow: 2px 5px 20px 5px silver;
  }

  .contact_title {
    color: darkgreen;
  }

  .submit {
    align-self: center;
    border: none;
    width: 45%;
    height: 30px;
    background: darkgreen;
    color: white;
    border-radius: 10px;
  }
}
@media (min-width: 374px) {
  .select_ciudad {
    width: 33%;
    margin-right: 28%;
  }

  .contact {
    width: 90%;
    margin-left: 35px;
  }
}
@media (min-width: 399px) {
  .nav_container {
    width: 100%;
  }

  .bell {
    font-size: 40px !important;
  }
  .settings {
    font-size: 40px !important;
    margin-left: 10px;
  }
  .select_ciudad {
    width: 35%;
    margin-right: 38%;
  }

  .menu_logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 424px) {
  .select_ciudad {
    width: 33%;
    margin-right: 31%;
    margin-left: -2%;
  }
  .contact {
    width: 90%;
    height: 100%;
    margin-left: 40px;
    margin-top: -50px;
  }
  .settings {
    margin-left: 0;
  }
}

@media (min-width: 550px) {
  .select_ciudad {
    width: 30%;
    margin-right: 50%;
    margin-left: -2%;
  }

  .contact {
    width: 70%;
    height: 100%;
    margin-left: 20vw;
    padding-left: 10px;
  }

  .submit {
    margin-top: -5px;
  }
}

@media (min-width: 767px) {
  .contact_2 {
    margin-top: -520px;
    width: 60%;
    height: 60%;
  }

  .contact_title {
    margin-right: 400px;
  }
}

@media (min-width: 961px) {
  .select_ciudad {
    width: 30%;
    margin-right: 52%;
    margin-left: -2%;
  }

  .contact {
    width: 70%;
    height: 100%;
    margin-left: 20vw;
    padding-left: 10px;
  }
  .contact .submit {
    margin-top: -5px;
    margin-left: 10px;
    height: 10%;
    width: 30%;
  }
}

@media (min-width: 1023px) {
  .contact_2 {
    width: 60%;
    height: 45%;
    margin-top: -730px;
  }

  .contact_title {
    margin-right: 600px;
  }
}

@media (min-width: 1439px) {
  .contact_2 {
    width: 85%;
    height: 83%;
    margin-top: -600px;
  }

  .contact_title {
    margin-right: 600px;
  }
}
