*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container_pr {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  background-image: linear-gradient(
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url("../../../assets/images/family-background.png");
  background-size: cover;
  background-position: bottom;
}

.register_title {
  margin: 5%;
  color: white;
  font-size: 30px;
}

.register_form {
  margin-top: 5%;
}

.select_registro {
  outline: none;
  color: white;
  border: 1px solid transparent;
  margin: 5%;
  width: 90%;
  background-color: transparent;
  border-bottom: 1px solid white;
}
option:not(:first-of-type) {
  color: black;
}

::placeholder {
  color: white;
}
.text_input {
  outline: none;
  color: white;
  border: 1px solid transparent;
  margin: 5%;
  width: 90%;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.date_input {
  outline: none;
  color: white;
  border: 1px solid transparent;
  margin: 5%;
  width: 90%;
  background-color: transparent;
  border-bottom: 1px solid white;
}

.btn {
  width: 70%;
  height: 5vh;
  font-size: 12px;
  color: rgba(72, 104, 82, 255);
  border-radius: 20px;
  transform: translateY(-0.1rem);
  cursor: pointer;
  margin: 7% 0 5% 15%;
  color: white;
  border: solid 1px white;
  background-color: transparent;
}
a {
  color: white;
  margin-left: 37%;
}

/* media query*/

@media screen and (min-width: 374px) {
  .select_registro {
    width: 85%;
    margin: 5% 0 0 8%;
  }
  .text_input {
    width: 85%;
    margin: 5% 0 0 8%;
    padding: 2px;
  }
  .date_input {
    width: 85%;
    margin: 5% 0 0 8%;
  }
  .btn {
    width: 60%;
    margin: 10% 0 5% 20%;
  }
  a {
    margin-left: 40%;
  }
}

@media screen and (min-width: 424px) {
  a {
    margin-left: 42%;
  }
}

@media screen and (min-width: 481px) {
  .select_registro {
    width: 70%;
    margin: 5% 0 0 15%;
  }
  .text_input {
    width: 70%;
    margin: 5% 0 0 15%;
  }
  .date_input {
    width: 70%;
    margin: 5% 0 0 15%;
  }
  .btn {
    width: 60%;
    margin: 5% 0 5% 20%;
  }
  a {
    margin-left: 40%;
    font-size: 20px;
  }
}

@media screen and (min-width: 641px) {
  .register_title {
    margin: 2%;
  }
  form {
    margin: -5%;
  }

  .select_registro {
    width: 50%;
    margin: 3% 0 0 25%;
  }
  .text_input {
    width: 50%;
    margin: 3% 0 0 25%;
  }
  .date_input {
    width: 50%;
    margin: 3% 0 0 25%;
  }
  .btn {
    width: 40%;
    margin: 3% 0 5% 30%;
  }
  a {
    margin-left: 43.5%;
  }
}
@media (min-width: 961px) {
  a {
    margin-left: 45%;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1023px) {
  .select_registro {
    width: 40%;
    margin: 4% 0 0 25%;
  }
  .text_input {
    width: 40%;
    margin: 4% 0 0 25%;
  }
  .date_input {
    width: 40%;
    margin: 4% 0 0 25%;
  }
  .btn {
    width: 20%;
    margin: 4% 0 5% 35%;
  }
  form {
    margin-left: 7%;
  }
  a {
    margin-left: 39%;
  }
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  .select_registro {
    width: 50%;
    height: 10%;
    margin: 4% 0 0 13%;
  }
  .text_input {
    width: 50%;
    margin: 4% 0 0 13%;
  }
  .date_input {
    width: 50%;
    margin: 4% 0 0 13%;
  }
  .btn {
    width: 30%;
    margin: 4% 0 5% 23%;
  }

  a {
    margin-left: 33%;
  }

  form {
    margin-left: 20%;
  }

  .form-label {
    margin-left: 10px;
  }
  /* hi-res laptops and desktops */
}
