<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!---Fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <div class="login_container">
        <div>
          <img src="assets/images/logos/combeneficios_logo_2.svg" alt="logo" />
        </div>
        <p class="welcome_text">⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
        <form
          (ngSubmit)="login()"
          autocomplete="off"
          [formGroup]="miFormulario"
        >
          <div>
            <input
              type="text"
              class="login_input"
              placeholder="Identificacion"
              formControlName="identificacion"
              required
            />
            <br />
            <input
              type="password"
              class="login_input"
              placeholder="contraseña"
              formControlName="contrasena"
              required
            />
          </div>
          <p class="terms">
            *Al iniciar sesion acepta las politicas de privacidad, terminos y
            condiciones de combeneficios
          </p>

          <input type="submit" class="btn" value="INGRESAR" />

          <p class="forgot_pass">
            <a routerLink="/auth/forgot">¿No recuerdas la contraseña?</a>
          </p>

          <p class="register">
            ¿No te has registrado?
            <a routerLink="/auth/register">Unete ahora</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
