* {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
      rgba(198, 235, 139, 0),
      rgba(143, 223, 30, 0.5)
    ),
    url("../../../../assets/images/background-5.png");
  background-size: cover;
  background-position: 30% 60%;
  width: 100vw;
}

.login_container {
  height: auto;
  width: 80%;
  text-align: center;
  color: white;
  margin: 15% 0 10% 0;
}

.welcome_text {
  font-weight: 500;
  margin: 10% 0 10% 0;
}

.login_input {
  outline: none;
  border: 1px solid transparent;
  margin: 8% 0 2% 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid white;
}

::placeholder {
  color: white;
}

.terms {
  font-size: 10px;
  margin-top: 10%;
}

.btn {
  width: 60%;
  height: 30px;
  font-size: 12px;
  color: rgba(72, 104, 82, 255);
  border-radius: 20px;
  transform: translateY(-0.1rem);
  cursor: pointer;
  margin: 10% 0 10% 0;
  border: solid 1px transparent;
  background-color: rgba(255, 255, 255, 255);
}
a {
  color: white;
}

.forgot_pass > a {
  text-decoration: none;
}

/* media query */
@media screen and (min-width: 0px) {
  .register {
    margin-top: 10vh;
  }
}

@media screen and (min-width: 425px) {
  * {
    overflow: hidden;
  }

  .welcome_text {
    margin: 5% 0 5% 0;
  }
  .login_input {
    margin: 6% 0 2% 0;
  }
  .register {
    margin-top: 15vh;
  }
}

@media screen and (min-width: 545px) {
  * {
    overflow: hidden;
  }
  .welcome_text {
    margin: 5% 0 5% 0;
  }
  .login_input {
    margin: 3% 0 2% 0;
  }
  .register {
    margin-top: 10vh;
  }
  .btn {
    margin: 5% 0 5% 0;
  }
}

@media screen and (min-width: 768px) {
  .login_container {
    margin: 0;
    margin-top: 5%;
  }
  .welcome_text {
    margin: 0;
  }

  .login_input {
    margin: 3% 0 3% 0;
    width: 80%;
  }
  .register {
    margin-top: 10vh;
  }

  .btn {
    width: 45%;
  }
  .container {
    background-image: linear-gradient(
        rgba(198, 235, 139, 0),
        rgba(143, 223, 30, 0.9)
      ),
      url("../../../../assets/images/family_bg_HD.png");
    background-size: cover;
    background-position: bottom;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    background-image: linear-gradient(
        rgba(198, 235, 139, 0),
        rgba(143, 223, 30, 0.8)
      ),
      url("../../../../assets/images/family_bg_HD.png");
  }
  .login_container {
    margin: 0;
    margin-top: 5%;
  }
  .welcome_text {
    margin: 0;
  }

  .login_input {
    margin: 3% 0 3% 0;
    width: 60%;
  }

  .terms {
    font-size: 10px;
    margin: 0;
  }
  .register {
    margin-top: 15vh;
  }
  .btn {
    width: 30%;
    margin-top: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    background-image: linear-gradient(
        rgba(198, 235, 139, 0),
        rgba(143, 223, 30, 0.8)
      ),
      url("../../../../assets/images/family_bg_HD.png");
  }
  .login_container {
    margin: 0;
    margin-top: 5%;
  }
  .welcome_text {
    margin: 0;
  }
  .login_input {
    width: 50%;
    margin: 3% 0 3% 0;
  }
  .btn {
    width: 30%;
    height: 40px;
    margin: 5% 0 5% 0;
  }

  .terms {
    margin: 0;
  }
}
