<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />

    <title>Home</title>
  </head>
  <body>
    <mat-sidenav-container fullscreen>
      <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
          <span>menu</span>
          <span class="spacer"></span>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>

        <mat-nav-list>
          <a [routerLink]="['/home']" mat-list-item (click)="sidenav.toggle()"
            ><mat-icon mat-list-icon style="color: gray">home</mat-icon
            ><span>Pagina principal</span></a
          >
          <a [routerLink]="['/home']" mat-list-item (click)="perfil()"
            ><mat-icon mat-list-icon style="color: gray">person</mat-icon
            ><span>Mi perfil</span></a
          >
          <a
            [routerLink]="['/beneficiarios/lista']"
            mat-list-item
            (click)="sidenav.toggle()"
            ><mat-icon mat-list-icon style="color: gray">group</mat-icon
            ><span>Mis Beneficiarios</span></a
          >

          <a
            [routerLink]="['/app/soporte']"
            mat-list-item
            (click)="sidenav.toggle()"
            ><mat-icon mat-list-icon style="color: gray">settings</mat-icon
            ><span>soporte</span></a
          >
          <a
            [routerLink]="['/app/contacto']"
            mat-list-item
            (click)="sidenav.toggle()"
            ><mat-icon mat-list-icon style="color: gray">contact_mail</mat-icon
            ><span>contacto</span></a
          >
        </mat-nav-list>
      </mat-sidenav>

      <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="notificaciones"
        >
          <mat-icon>notifications</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          (click)="logout()"
          aria-label="cerrar sesion"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>

      <div class="container_mi">
        <div class="middle-menu">
          <h2>Mi Perfil</h2>
          <div class="general-information">
            <div class="children_p">
              <div class="profile-photo" *ngFor="let item of user">
                <img src="{{ user }}" alt="foto medico" />
              </div>
            </div>
          </div>
          <div class="profile-data">
            <form
              (ngSubmit)="update()"
              autocomplete="off"
              [formGroup]="miFormulario"
            >
              <label for="nombres">nombres</label><br />
              <input type="text" id="nombres" formControlName="nombres" /><br />
              <label for="nombres">Apellidos</label><br />
              <input
                type="text"
                id="apellidos"
                formControlName="apellidos"
              /><br />
              <label for="correo">Correo Electronico</label><br />
              <input type="text" formControlName="email" id="correo" /><br />
              <label for="telefono">Telefono</label><br />
              <input type="text" formControlName="telefono" id="telefono" />
              <button class="btn-update" type="submit">Guardar Cambios</button>
            </form>
          </div>
        </div>
      </div>
    </mat-sidenav-container>
  </body>
</html>
