*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow: none;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #4d840c;
  color: #fff;
}

.mat-toolbar {
  background: #4d840c;
  color: #fff;
}

.logout {
  margin-right: 70px !important;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  /* contenedor principal */
  .container_mi {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  /* barra de navegacion principal */
  header {
    width: 100%;
  }
  .navBar {
    background-color: green;
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }

  .nav_container {
    width: 100%;
  }

  /* logo de ubicacion */
  .logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-left: -10px;
  }

  /* selector de ciudades */
  .select_ciudad {
    width: 38%;
    margin-left: -4%;
    margin-right: 15%;
    outline: none;
    color: white;
    border: 1px solid transparent;
    background-color: transparent;
    border-bottom: 1px solid white;
  }
  option:not(:first-of-type) {
    color: black;
  }

  /* logo de notificaciones */
  .bell {
    vertical-align: middle;
    color: white;
    font-size: 40px !important;
  }
  /* logo de opciones */
  .settings {
    margin-top: 5px;
    font-size: 40px !important;
    vertical-align: middle;
  }

  /* color de los iconos */
  .material-icons {
    color: white;
  }

  /* menu de opciones */
  .bar-btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: Pointer;
  }

  /* menu central */
  .middle-menu {
    padding: 20px;
    width: 98vw;
    height: 75vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    gap: 10%;
  }

  /* menu de el fondo */

  .menu_logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-left: -10px;
  }

  h2 {
    color: #4d840c;
  }
  .support {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 10px;
    background-color: transparent;
  }

  .support div {
    background-color: white;
    height: 35%;
    border-radius: 30px;
    padding: 4%;
    display: flex;
    font-size: 15px;
  }

  .btn-entrar {
    margin-top: 50px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: -55px;
    width: 130px;
    background-color: #4d840c;
    color: white;
  }

  .btn-entrar-2 {
    margin-top: 50px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: -55px;
    width: 130px;
    background-color: #4d840c;
    color: white;
  }

  .support-item {
    box-shadow: 2px 5px 20px 5px silver;
    color: #4d840c;
  }

  .logo-support-whatsapp img {
    width: 70px;
    height: 70px;
    margin-top: -5px;
  }

  .logo-support-mail img {
    width: 90px;
    height: 90px;
    margin-top: -5px;
    margin-left: -10px;
  }

  .support-item p {
    margin-left: -20px;
  }
  .bottom-menu {
    display: none;
  }
}
@media (min-width: 374px) {
  .select_ciudad {
    width: 33%;
    margin-right: 28%;
  }
  .btn-entrar-2 {
    margin-left: -60px;
  }
  .bottom-menu {
    display: none;
  }
}
@media (min-width: 399px) {
  .nav_container {
    width: 100%;
  }

  .bell {
    font-size: 40px !important;
  }
  .settings {
    font-size: 40px !important;
    margin-left: 10px;
  }
  .select_ciudad {
    width: 35%;
    margin-right: 38%;
  }

  .menu_logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }
  .bottom-menu {
    display: none;
  }
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 424px) {
  .select_ciudad {
    width: 33%;
    margin-right: 29%;
    margin-left: -2%;
  }
  .support {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 10px;
    background-color: transparent;
  }

  .support div {
    background-color: white;
    height: 35%;
    border-radius: 30px;
    padding: 4%;
    display: flex;
    font-size: 15px;
  }

  .btn-entrar {
    margin-top: 50px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: -29px;
    width: 140px;
    background-color: #4d840c;
    color: white;
  }

  .btn-entrar-2 {
    margin-top: 50px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: -40px;
    width: 140px;
    background-color: #4d840c;
    color: white;
  }

  .support-item {
    box-shadow: 2px 5px 20px 5px silver;
    color: #4d840c;
  }

  .logo-support-whatsapp img {
    width: 70px;
    height: 70px;
    margin-top: -5px;
  }

  .logo-support-mail img {
    width: 90px;
    height: 90px;
    margin-top: -5px;
    margin-left: -10px;
  }

  .support-item p {
    margin-left: -20px;
  }
  .bottom-menu {
    display: none;
  }
}

@media (min-width: 550px) {
  .select_ciudad {
    width: 30%;
    margin-right: 50%;
    margin-left: -2%;
  }
  .bottom-menu {
    display: none;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 767px) {
  .support {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 10px;
    background-color: transparent;
  }

  .support div {
    background-color: white;
    height: 35%;
    border-radius: 30px;
    padding: 4%;
    display: flex;
    font-size: 15px;
  }

  .btn-entrar {
    margin-top: 50px;
    height: 30px;
    outline: none;
    border: none;
    margin-left: 188px;
    width: 140px;
    background-color: #4d840c;
    color: white;
  }

  .btn-entrar-2 {
    margin-top: 50px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 188px;
    width: 140px;
    background-color: #4d840c;
    color: white;
  }

  .support-item {
    box-shadow: 2px 5px 20px 5px silver;
    color: #4d840c;
  }

  .logo-support-whatsapp {
    margin: 0;
  }

  .logo-support-whatsapp img {
    width: 70px;
    height: 70px;
    margin-top: -5px;
  }

  .logo-support-mail img {
    width: 90px;
    height: 90px;
    margin-top: -28px;
    margin-left: -10px;
  }

  .support-item p {
    margin-left: -20px;
  }
  .bottom-menu {
    display: none;
  }
}

@media (min-width: 961px) {
  .logo {
    margin-right: 1%;
  }
  .select_ciudad {
    width: 20%;
    margin-right: 64%;
  }
  .bottom-menu {
    display: none;
  }
  .middle-menu {
    height: 64vh;
  }
  * {
    overflow: hidden;
  }

  .support {
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-flow: column;
    gap: 10px;
    background-color: transparent;
    margin-left: 10%;
  }

  .support div {
    background-color: white;
    border-radius: 30px;
    padding: 4%;
    display: flex;
    font-size: 15px;
    height: 160px;
  }

  .btn-entrar {
    margin-top: 50px;
    height: 30px;
    outline: none;
    border: none;
    margin-left: 290px;
    width: 150px;
    background-color: #4d840c;
    color: white;
  }

  .btn-entrar-2 {
    margin-top: 50px;
    height: 30px;
    margin-left: 290px;
    width: 150px;
  }

  .support-item {
    box-shadow: 2px 5px 20px 5px silver;
    color: #4d840c;
  }

  .logo-support-whatsapp img {
    width: 70px;
    height: 70px;
    margin-top: -5px;
  }

  .logo-support-mail img {
    width: 90px;
    height: 90px;
    margin-top: -30px;
    margin-left: -10px;
  }

  .support-item p {
    margin-left: -20px;
  }

  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  .logo {
    margin-right: 1%;
  }
  .select_ciudad {
    width: 25%;
    margin-right: 60%;
  }
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1250px) {
  .select_ciudad {
    width: 15%;
    margin-right: 73%;
  }

  .support {
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-flow: column;
    gap: 10px;
    background-color: transparent;
    margin-left: 20%;
  }

  .support div {
    background-color: white;
    border-radius: 30px;
    padding: 4%;
    display: flex;
    font-size: 15px;
    height: 160px;
  }

  .btn-entrar {
    margin-top: 30px;
    height: 36px;
    outline: none;
    border: none;
    margin-left: 19vw;
    width: 199px;
    background-color: #4d840c;
    color: white;
  }

  .btn-entrar-2 {
    margin-top: 30px;
    height: 36px;
    margin-left: 19vw;
    width: 199px;
  }

  .support-item {
    box-shadow: 2px 5px 20px 5px silver;
    color: #4d840c;
  }

  .logo-support-whatsapp img {
    width: 70px;
    height: 70px;
    margin-top: -20px;
  }

  .logo-support-mail img {
    width: 90px;
    height: 91px;
    margin-left: -10px;
    margin-top: -35px;
  }

  .support-item p {
    margin-left: -20px;
  }

  /* hi-res laptops and desktops */
}
