* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #4d840c;
  color: #fff;
}

.mat-toolbar {
  background: #4d840c;
  color: #fff;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.space {
  margin-right: 5px;
  min-width: 97px;
  margin-top: 5px;
}
.yellow {
  background-color: rgb(255, 203, 0);
}
.green {
  background-color: #4d840c;
}
.mat-column-paciente {
  flex: none;
  width: 120px;
}
.mat-column-weight {
  flex: none;
  width: 70px;
}

.mat-column-name {
  flex: none;
  width: 127px;
}
