<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/home']" mat-list-item (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">home</mat-icon
        ><span>Pagina principal</span></a
      >
      <a [routerLink]="['/home']" mat-list-item (click)="perfil()"
        ><mat-icon mat-list-icon style="color: gray">person</mat-icon
        ><span>Mi perfil</span></a
      >
      <a
        [routerLink]="['/beneficiarios/lista']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">group</mat-icon
        ><span>Mis Beneficiarios</span></a
      >

      <a
        [routerLink]="['/beneficiarios/tarjeta']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">badge</mat-icon
        ><span>Mi Tarjeta</span></a
      >

      <a
        [routerLink]="['/app/soporte']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">settings</mat-icon
        ><span>soporte</span></a
      >
      <a
        [routerLink]="['/app/contacto']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">support_agent</mat-icon
        ><span>contacto</span></a
      >

      <a
        [routerLink]="['/medicos/servicios']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">local_hospital</mat-icon
        ><span>Servicios Medicos</span></a
      >

      <a
        *ngIf="rol !== 4"
        [routerLink]="['/medicos/solicitud']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">question_answer</mat-icon
        ><span>ser medico</span></a
      >
      <a
        *ngIf="rol == 4"
        [routerLink]="['/medicos/estudio']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">health_and_safety</mat-icon
        ><span>Agregar Especializacion</span></a
      >
      <a
        *ngIf="rol == 4"
        [routerLink]="['/medicos/agenda']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">pending_actions</mat-icon
        ><span>agendar disponibilidad</span></a
      >
      <a
        *ngIf="rol == 1"
        [routerLink]="['/admin/solicitudes']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray"
          >admin_panel_settings</mat-icon
        ><span>solicitudes</span></a
      >
      <a
        *ngIf="rol == 1"
        [routerLink]="['/admin/solicitudEstudio']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray"
          >admin_panel_settings</mat-icon
        ><span>solicitudes especializacion</span></a
      >
      <a
        *ngIf="rol == 4"
        [routerLink]="['/medicos/agendaMedico']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">edit_calendar</mat-icon
        ><span>Mi Agenda</span></a
      >
      <a
        [routerLink]="['/medicos/agendaUsuario']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">schedule</mat-icon
        ><span>Citas Pendientes</span></a
      >
      <a
        [routerLink]="['/medicos/historial']"
        mat-list-item
        (click)="sidenav.toggle()"
        ><mat-icon mat-list-icon style="color: gray">schedule</mat-icon
        ><span>Historial de citas</span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="notificaciones"
    >
      <mat-icon>notifications</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      (click)="logout()"
      aria-label="cerrar sesion"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container_pt">
    <h3 class="card-title">Mi Tarjeta</h3>
    <div class="container-card" *ngFor="let item of user">
      <div class="combeneficios_card">
        <div class="user-data-1">
          <p class="user-name">
            <strong>{{ item.nombres }}</strong
            ><br />
            <strong>{{ item.apellidos }}</strong>
          </p>
          <p class="user-date">2021-05-01</p>
        </div>
        <div class="user-data-2">
          <p class="user-id">{{ item.id }}</p>
          <p class="user-phone">{{ item.telefono }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
