* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url(../../../assets/fonts/MYRIADPRO-REGULAR.woff) format("woff");
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #4d840c;
  color: #fff;
}

.mat-toolbar {
  background: #4d840c;
  color: #fff;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  /* contenedor principal */
  .container_pt {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  /* barra de navegacion principal */
  header {
    width: 100%;
  }
  .navBar {
    background-color: green;
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }

  .nav_container {
    width: 100%;
  }

  /* logo de ubicacion */
  .logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-left: -10px;
  }

  /* selector de ciudades */
  .select_ciudad {
    width: 38%;
    margin-left: -4%;
    margin-right: 15%;
    outline: none;
    color: white;
    border: 1px solid transparent;
    background-color: transparent;
    border-bottom: 1px solid white;
  }
  option:not(:first-of-type) {
    color: black;
  }

  /* logo de notificaciones */
  .bell {
    vertical-align: middle;
    color: white;
    font-size: 40px !important;
  }
  /* logo de opciones */
  .settings {
    margin-top: 5px;
    font-size: 40px !important;
    vertical-align: middle;
  }

  /* color de los iconos */
  .material-icons {
    color: white;
  }

  /* menu de opciones */
  .bar-btn {
    font-size: 25px;
    margin-right: 20px;
    cursor: Pointer;
  }
  /* contenedor del menu */
  .nav-menu {
    position: fixed;
    width: 100%;
    top: 100px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.8)
      ),
      url("../../../assets/images/family-background.png");
    background-size: cover;
    background-position: bottom;
    text-align: center;
    transition: all 0.5%;
  }
  /* estilos de los elementos del menu */
  .nav-menu li {
    display: none;
    color: black;
    width: 100%;
    border-bottom: 2px solid green;
    margin: 5% 5% 5% 0;
    line-height: 30px;
    padding-bottom: 2%;
    text-align: start;
    transition: all 0.5s;
  }
  /* estilos de los links del menu */
  .nav-menu li a {
    color: green;
    text-transform: uppercase;
    font-weight: 600;
  }

  .nav-menu li a.active,
  .nav-menu li a:hover {
    color: rgb(248, 8, 8);
    transition: 0.5s;
  }

  #check {
    display: none;
  }
  #check:checked ~ .nav-menu {
    height: 100vh;
    margin-top: -20px;
    z-index: 9999;
  }
  #check:checked ~ .nav-menu li {
    display: block;
  }

  /* menu central */
  .middle-menu {
    padding: 20px;
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.8)
      ),
      url("../../../assets/images/background-2.PNG");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    gap: 10%;
  }

  .card-title {
    margin-top: -45px;
    margin-left: 30px;
  }

  .container-card {
    width: 91%;
    height: 66%;
  }
  .combeneficios_card {
    background-image: url(../../../assets/images/nueva_tarjeta-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 160%;
    height: 49%;
    margin-left: -70px;
    margin-top: -50px;
    display: flex;
    flex-flow: row;
    border-radius: 10px;
    border: 1px solid black;
    transform: rotateZ(270deg);
  }
  .user-data-1 {
    width: 50%;
    height: 60%;
    color: #5dbc63;
  }
  .user-data-2 {
    width: 40%;
    height: 60%;
  }
  .user-data-2 p.user-id {
    font-size: 14px;
    padding-left: 70px;
    margin-top: 112px;
    font-family: "Myriad Pro Regular";
    font-weight: 600;
    color: #eff7ed;
  }

  .user-data-2 p.user-phone {
    font-size: 14px;
    margin-left: 146px;
    margin-top: 204px;
    font-family: "Myriad Pro Regular";
    font-weight: 800;
    color: #eff7ed;
  }

  .user-name {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 15px;
    font-family: "Myriad Pro Regular";
    font-weight: 600;
  }

  .user-date {
    margin-top: 30px;
    margin-left: 20px;
  }
}
@media (min-width: 374px) {
  .select_ciudad {
    width: 33%;
    margin-right: 28%;
  }

  .combeneficios_card {
    width: 134%;
    margin-left: -40px;
  }
}
@media (min-width: 399px) {
  .nav_container {
    width: 100%;
  }

  .bell {
    font-size: 40px !important;
  }
  .settings {
    font-size: 40px !important;
    margin-left: 10px;
  }
  .select_ciudad {
    width: 35%;
    margin-right: 38%;
  }

  .menu_logo {
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 424px) {
  .select_ciudad {
    width: 33%;
    margin-right: 31%;
    margin-left: -2%;
  }
  .combeneficios_card {
    width: 120%;
    height: 50%;
    margin-top: -121px;
    transform: rotateZ(270deg);
  }
  .settings {
    margin-left: 0;
  }
}

@media (min-width: 540px) {
  .select_ciudad {
    width: 30%;
    margin-right: 40%;
    margin-left: -2%;
  }
  .combeneficios_card {
    width: 70%;
    transform: rotateZ(0deg);
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 767px) {
  .select_ciudad {
    width: 30%;
    margin-right: 52%;
    margin-left: -2%;
  }
  p.user-phone {
    margin-top: 209px;
  }
  .combeneficios_card {
    width: 68%;
    transform: rotateZ(0deg);
    margin-left: 12px;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 900px) {
  .combeneficios_card {
    width: 38%;
  }
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 1000px) {
  .combeneficios_card {
    width: 37%;
    height: 50%;
    margin-left: 40px;
  }
  .user-data-2 p.user-phone {
    margin-top: 160px;
    margin-left: 114px;
  }
}

@media (min-width: 1023px) {
  .combeneficios_card {
    width: 40%;
    height: 38%;
    margin-left: 40px;
  }

  .user-data-2 p.user-phone {
    margin-top: 160px;
    margin-left: 114px;
  }
}

@media (min-width: 1439px) {
  .combeneficios_card {
    width: 27%;
    height: 36%;
    margin-left: 40px;
    margin-top: 80px;
  }
}

@media (min-width: 1500px) {
  .combeneficios_card {
    width: 25.5%;
    height: 42%;
    margin-top: 90px;
  }
  .card-title {
    margin-top: -170px;
    font-size: 30px;
  }
  .container-card {
    margin-left: -170px;
  }
}
