<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />

    <title>Home</title>
  </head>
  <body>
    <div class="container_mi">
      <header>
        <nav class="navBar">
          <div class="nav_container">
            <img src="icons/ubication-icon.png" alt="logo" class="logo" />
            <select class="select_ciudad" name="ciudad" id="ciudad">
              <option hidden selected>ciudad</option>
              <option value="item 1">Barranquilla</option>
              <option value="item 2">Santa Marta</option>
              <option value="item 3">Medellin</option>
              <option value="item 1">Bogota</option>
              <option value="item 1">Barrancabermeja</option>
            </select>
            <input type="checkbox" id="check" />
            <label for=""
              ><span class="material-icons-outlined bell">
                notifications
              </span></label
            >
            <label for="check" class="bar-btn"
              ><span class="material-icons settings"> settings </span>
            </label>
            <ul class="nav-menu">
              <li>
                <img
                  src="icons/ubication-icon.png"
                  class="menu_logo"
                  alt=""
                /><a href="#">Mi Perfil</a>
              </li>
              <li>
                <img
                  src="icons/ubication-icon.png"
                  class="menu_logo"
                  alt=""
                /><a href="#">Mis beneficios</a>
              </li>
              <li>
                <img
                  src="icons/ubication-icon.png"
                  class="menu_logo"
                  alt=""
                /><a href="#">Soporte</a>
              </li>
              <li>
                <img
                  src="icons/ubication-icon.png"
                  class="menu_logo"
                  alt=""
                /><a href="#">Contáctenos</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <div class="middle-menu">
        <h2>Mis Beneficiarios</h2>
        <div class="beneficiarios-container">
          <div class="beneficiario-info" *ngFor="let item of beneficiaries">
            <div class="beneficiario-photo">
              <img src="{{ item.imgUrl }}" alt="" />
            </div>
            <div class="beneficiario-name">
              <p>{{ item.nombres }}{{ " " + item.apellidos }}</p>
              <p>{{ item.parentesco_id | parentesco }}</p>
            </div>
            <div class="btn-container">
              <button class="btn-beneficiario">
                <strong>Ver detalles</strong>
              </button>
            </div>
          </div>

          <button class="add-beneficiario">
            <strong>Agregar beneficiario</strong>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
