@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: Lato;
  font-weight: 400;
  overflow: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title {
  text-align: center;
  color: white;
}

.register__container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#c6eb8b, #8fdf1e),
    url("../../../../assets/images/background-3.png");
  background-size: cover;
  text-align: center;
  margin: 0;
}

.form__input {
  width: 80%;
}

mat-label {
  color: white !important;
}

span.mat-select-min-line {
  color: white !important;
}

.mat-form-field-label {
  color: white !important;
}

.file {
  width: 80% !important;
  margin-left: 40px;
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  .register__container {
    background-size: 100% 100%;
  }

  .form__input {
    width: 45%;
    margin-left: 10px;
  }

  .file {
    width: 91% !important;
  }
}

@media (min-width: 1023px) {
  .register__container {
    background-size: 100% 100%;
    background-image: url("../../../../assets/images/register-fixed.png");
  }
  .form__input {
    width: 35%;
    margin-left: 10px;
  }
  .file {
    width: 70% !important;
    margin-left: 150px;
  }
}

@media (min-width: 1250px) {
  .form__input {
    width: 35%;
  }
  .file {
    width: 70% !important;
    margin-left: 230px;
  }
}

* {
  overflow-x: auto;
  overflow-y: auto;
}
