.btn {
  vertical-align: middle;
  margin-left: 7px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: green;
  color: #fff;
}

.mat-toolbar {
  background: green;
  color: #fff;
}
