<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Buscar medico</title>
  </head>
  <body>
    <div class="container">
      <mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav mode="push">
          <mat-toolbar color="primary">
            <span>menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </mat-toolbar>
          <mat-nav-list>
            <a [routerLink]="['/home']" mat-list-item (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray">home</mat-icon
              ><span>Pagina principal</span></a
            >
            <a [routerLink]="['/home']" mat-list-item (click)="perfil()"
              ><mat-icon mat-list-icon style="color: gray">person</mat-icon
              ><span>Mi perfil</span></a
            >
            <a
              [routerLink]="['/beneficiarios/lista']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray">group</mat-icon
              ><span>Mis Beneficiarios</span></a
            >

            <a
              [routerLink]="['/app/soporte']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray">settings</mat-icon
              ><span>soporte</span></a
            >
            <a
              [routerLink]="['/app/contacto']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray"
                >support_agent</mat-icon
              ><span>contacto</span></a
            >

            <a
              [routerLink]="['/medicos/servicios']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray"
                >local_hospital</mat-icon
              ><span>Servicios Medicos</span></a
            >

            <a
              *ngIf="rol !== 4"
              [routerLink]="['/medicos/solicitud']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray"
                >question_answer</mat-icon
              ><span>ser medico</span></a
            >
            <a
              *ngIf="rol == 4"
              [routerLink]="['/medicos/estudio']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray"
                >health_and_safety</mat-icon
              ><span>Agregar Especializacion</span></a
            >
            <a
              *ngIf="rol == 4"
              [routerLink]="['/medicos/agenda']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray"
                >pending_actions</mat-icon
              ><span>agendar citas</span></a
            >
            <a
              *ngIf="rol == 1"
              [routerLink]="['/admin/solicitudes']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray"
                >admin_panel_settings</mat-icon
              ><span>solicitudes</span></a
            >
            <a
              *ngIf="rol == 1"
              [routerLink]="['/admin/solicitudEstudio']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray"
                >admin_panel_settings</mat-icon
              ><span>solicitudes especializacion</span></a
            >
            <a
              *ngIf="rol == 4"
              [routerLink]="['/medicos/agendaMedico']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray"
                >edit_calendar</mat-icon
              ><span>Mi Agenda</span></a
            >
            <a
              [routerLink]="['/medicos/agendaUsuario']"
              mat-list-item
              (click)="sidenav.toggle()"
              ><mat-icon mat-list-icon style="color: gray">schedule</mat-icon
              ><span>Mis Citas</span></a
            >
          </mat-nav-list>
        </mat-sidenav>

        <mat-toolbar>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="spacer"></span>
          <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="notificaciones"
          >
            <mat-icon>notifications</mat-icon>
          </button>
          <button
            mat-icon-button
            class="example-icon"
            (click)="logout()"
            aria-label="cerrar sesion"
          >
            <mat-icon>logout</mat-icon>
          </button>
        </mat-toolbar>

        <div class="middle-menu">
          <div class="service">
            <div class="service_logo">
              <img src="assets/icons/Captura_preview_rev_1.png" alt="" />
            </div>
            <div class="service_title">
              <p><strong>Servicios medicos</strong></p>
              <h6>Citas virtuales</h6>
            </div>
          </div>
          <div class="filter">
            <select [(ngModel)]="selectedBrand" (change)="valueSelected()">
              <option value="all">todas las especializaciones</option>
              <option *ngFor="let item of especializaciones">
                {{ item.descripcion }}
              </option>
            </select>

            <input
              type="text"
              [(ngModel)]="term"
              placeholder=" Filtrar por especialista o especialidad"
            />
          </div>

          <div class="flex-layout_medic">
            <div class="content">
              <div class="children" *ngFor="let item of doctors | filter: term">
                <div class="medic-photo">
                  <img src="{{ item.imgUrl }}" alt="foto medico" />
                </div>
                <div class="medic-information">
                  <div class="medic-information__text">
                    <p>
                      <strong>{{ item.nombres }} {{ item.apellidos }}</strong>
                    </p>
                    <p>{{ item.descripcion }}</p>
                    <p class="medic-information__space">
                      Consultas realizadas : {{ item.id }}
                    </p>
                    <p>
                      <img src="assets/icons/Polígono 2.png" alt="" /><img
                        src="assets/icons/Polígono 2.png"
                        alt=""
                      /><img src="assets/icons/Polígono 2.png" alt="" /><img
                        src="assets/icons/Polígono 2.png"
                        alt=""
                      /><img src="assets/icons/Polígono 2 copia 4.png" alt="" />
                    </p>
                  </div>
                </div>
                <button
                  [routerLink]="['/medicos', item.id]"
                  class="medic-profile"
                >
                  Perfil
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-sidenav-container>
    </div>
  </body>
</html>
